.button-clear-filters {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

@import url("../Products/Products.styles.css");
